.header_main {
    width: 100%;
    height: 80vh;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(245, 245, 220, 0.7)), url(../public/images/headerbg.jpeg);
    overflow: hidden;
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered inside */
}
.mobile_header_main {
    width: 100%;
    height: 50vh;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(245, 245, 220, 0.7)), url(../public/images/headerbg.jpeg);
    overflow: hidden;
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered inside */
}

.header_content {
    padding: 20px;
}

.header_title {
    font-size: 3rem;
    color:  #003366; /* */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.mobile_header{
    font-size: 1.7rem;
    color:  #003366; /* */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.header_subtitle {
    font-size: 1.2rem;
    color: #003366; /* navy blue */
}

.cta_button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #FFD700; /* Gold button */
    color: #003366; /* Navy Blue text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta_button:hover {
    background-color: #F5F5DC; /* Light Beige on hover */
    color: #003366; /* Navy Blue on hover */
}
.mobile_cta_button {
    padding: 10px 25px;
    font-size: 1.1rem;
    background-color: #FFD700; /* Gold button */
    color: #003366; /* Navy Blue text */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mobile_cta_button:hover {
    background-color: #F5F5DC; /* Light Beige on hover */
    color: #003366; /* Navy Blue on hover */
}
