.nav {
    display: flex;

    justify-content: space-between;
    /* Align items on each side */
    align-items: center;
    /* Vertically center the content */
    background-color: #003366;
    /* Navy Blue */
    padding: 15px 30px;
    overflow: hidden;
}

.nav_web {

    display: flex;

    justify-content: space-between;
    /* Align items on each side */
    align-items: center;
    /* Vertically center the content */
    background-color: #003366;
    /* Navy Blue */
    padding: 15px 30px;

}

.companyName {
    color: #ffffff;
    font-size: 24px;
    font-family: "Roboto-Black", sans-serif;
    /* Use the Roboto font */
    font-weight: bold;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navItem {
    margin-left: 20px;
    /* Space between each item */
    font-size: 18px;
    font-family: "Roboto-Black", sans-serif;
    list-style: none;
}

.navItem a {
    color: #ffffff;
    text-decoration: none;
}

.navItem a:hover {
    color: #ffd700;
    /* Gold color on hover */
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    /* Height to accommodate 3 lines */
    cursor: pointer;
    /* Makes it look clickable */
}

.line {
    width: 100%;
    /* Full width of the container */
    height: 3px;
    /* Height of each hamburger line */
    background-color: #fff;
    /* Line color */
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    /* Smooth transition for animations */
}

/* Animation when hamburger is active (when menu is open) */
.open .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    /* Move down and rotate */
}

.open .line:nth-child(2) {
    opacity: 0;
    /* Hide the middle line */
}

.open .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    /* Move up and rotate */
}

.sideMenu {
    position: fixed;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 10px 10px 20px rgba(0, 0, 128, 0.4); /* Navy blue shadow */
    z-index: 1;
}

.sideMenuItem {
    padding: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
    font-family: "Roboto-Black", sans-serif;
    ;
}

.sideMenuItem a {
    padding: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
    font-family: "Roboto-Black", sans-serif;
}

.sideMenu_closed {
    width: 100%;
    height: 100vh;
    background-color: #003366;
    transform: translateX(100%);
    transition: all 0.75s ease-in-out;
}

.sideMenu_open {
    width: 100%;
    height: 100vh;
    background-color: #003366;
    transform: translateX(50%);
    transition: all 0.75s ease-in-out;
}