.services_desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 20px;
    overflow: hidden;
}

.services_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0px 10px 0px;
    gap: 20px;
    overflow: hidden;
}

.services_heading {
    display: flex;
    justify-content: center;
    color: #003366;
    font-family: sans-serif;
    font-size: 50px;
}

.mobile_ser_heading {
    display: flex;
    justify-content: center;
    color: #003366;
    font-family: sans-serif;
    font-size: 35px;
    align-items: center;
}

.services_small {
    display: flex;
    justify-content: center;
    color: #003366;
    font-family: sans-serif;

}

.service_item {
    display: flex;
    justify-content: center;
    width: 90%;
    color: #003366;
 font-family: sans-serif;
}

.mobile_service_item {
    
    width: 90%;
    color: #003366;
    font-family: sans-serif;

}

.service_item_content {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(245, 245, 220, 0.7)); */
  
    font-family: sans-serif;
}

.mobile_service_item_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(245, 245, 220, 0.7)); */
    
    font-family: sans-serif;
}

.service_item_content img{
    width: 10%;
}

.mobile_service_item_content img {
    width: 20%;
}

.service_item_content h1,
.service_item_content small {
    margin: 0;
    overflow: hidden;
    /* Prevents text from breaking out */
}

.mobile_service_item_content h1,
.mobile_service_item_content small {
    margin: 0;
    overflow: hidden;
    /* Prevents text from breaking out */
}

.service_item_content li {
    line-height: 2;
}

.mobile_service_item_content li {
    line-height: 2;
}

